.vertical-slider {
    -webkit-appearance: slider-vertical; /* Faz o slider vertical no WebKit */
    width: 20px;
    height: 300px;
    padding: 0;
    margin: 0;
  }
  
  .slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slider-container p {
    margin-top: 10px;
    font-size: 14px;
  }


  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .card {
    height: 100%;
  }
  
  .card-text {
    flex-grow: 1;
  }
  