.landing-page-container {
    position: relative;
    height: 100vh; /* Ocupa toda a altura da página */
    background-image: url('../../../public/11824.jpg'); /* Use o caminho correto para sua imagem */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Cor escura com opacidade */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
